{% extends "POPapp/templates/index.html" %}
{% block content %}
<div class="row panel panel-default">
  <div class="grid">
    <h1>POST</h1>
    <div>
      <textarea cols="50" id="post_content" rows="4"></textarea>
      <button id="post_method" name="Post">POST</button>
    </div>
    <script>$('#post_method').click(function () {
                jQuery.ajax({
                    type: 'POST',
                    async: true,
                    url: '/{{ user.username }}/postblog',
                    data:  JSON.stringify({ 'key' : '1', 'content': $('#post_content').val()}),
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                    alert(JSON.stringify(response));
                        $('#blog_1').text(response['content']);
                    },
                    error: function (err){
                        alert(err.responseText);
                    }
                });
            });</script>
  </div>
  <div class="grid">
    <h1>BLOG</h1>
    <table>
      <tr>
        <td></td>
        <td>2017-01-22 14:23:32</td>
        <tr>
          <td>
            <p id="blog_1"></p>
          </td>
        </tr>
      </tr>
    </table>
  </div>
</div>
{% endblock content %}